@using Contracts
@using Entities.Model
@page "/AddForum/{Id:int}"
@inject IForumService forumService
@inject NavigationManager navMgr

<h3>Forum</h3>

<AuthorizeView>
    <NotAuthorized>
        <p> Please go to login</p>

    </NotAuthorized>
    <Authorized >
        <EditForm Context="what" Model="@forum">
            <div class="card">
                <div class="form-group">
                    <label >Title</label>
                    <textarea class="form-control" rows="1" @bind="forum.Title"></textarea>
                </div>
                <br/>
                <div class="form-group">
                    <label >Description</label>
                    <textarea class="form-control" rows="8" @bind="forum.Description"></textarea>
                </div>

                <div class="field">
                    <button class="addForumbtn" type="submit" @onclick="@(() => AddForumAsync(context.User.Identity.Name))">Create Forum</button>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }



        </EditForm>

    </Authorized>
</AuthorizeView>


@code {
    

    [Parameter]
    public int Id { get; set; }
    
    
    private Forum forum = new Forum();
    private string errorLabel = "";
    private async Task AddForumAsync(string username)
    {
        if (string.IsNullOrEmpty(forum.Description) && string.IsNullOrEmpty(forum.Title))
        {
            errorLabel = "Sorry";
            return;
        }
        try
        {
            forum.Username = username;
            await forumService.AddForumAsync(Id,forum);
            navMgr.NavigateTo("/");
            forum = new Forum();
        }
        catch (Exception e)
        {
            errorLabel = "Sorry couldn't add the forum";
        }
    }
    
}
