@page "/AddMainForum"
@using Contracts
@using Entities.Model

@inject IForumService forumService
@inject NavigationManager navMgr

<h3>Forum</h3>

<AuthorizeView>
    <NotAuthorized>
        <p> Please go to login</p>

    </NotAuthorized>
    <Authorized >
        <EditForm Context="what" Model="@mainForum">
            <div class="card">
                <div class="form">
                    <label style="color: #3a0647" >Title</label>
                    <textarea class="form-control" rows="1" @bind="mainForum.Title"></textarea>
                </div>
                <br/>
                
                <div class="field">
                    <button class="addForumbtn" type="submit" @onclick="@(() => AddForumAsync(context.User.Identity?.Name))">Create Forum</button>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }



        </EditForm>

    </Authorized>
</AuthorizeView>


@code {
    private MainForum? mainForum = new MainForum();
    private string errorLabel = "";


    private async Task AddForumAsync(string? username)
    {
        if ( string.IsNullOrEmpty(mainForum.Title))
        {
            errorLabel = "Sorry";
            return;
        }
        try
        {
            Console.WriteLine("Inside AddNMAinForum 59");
            mainForum.CreatedBy = username;
            Console.WriteLine(username);
            await forumService.AddMainForum(mainForum);
           
            mainForum = new MainForum();
            navMgr.NavigateTo("/MainForums");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            errorLabel = "Sorry couldn't add the forum";
        }
    }



}