@page "/AllForums/{Id:int}"

@using Contracts
@using Entities.Model
@inject IForumService forumService
<h3>AllForums</h3>



@foreach (var item in allForums)
        {
            
            <div class="card">
            
                <div class="field">
                    <span > Title : </span>
                    <label>@item.Title</label>
                </div>
                
                <div class="userName">
                    <span > Added by : </span>
                    <label>@item.Username</label>
                </div>
                
                <div class="field">
                    <label>@item.Description</label>
                </div>
                
            </div>
            
        }




@code {
    [Parameter]
    public int Id { get; set; }
    
    

    private ICollection<Forum>? allForums;
   
    private string errorLabel = "";


    protected override async void OnInitialized()
    {
        allForums = forumService.GetMainForumById(Id).Result.AllSubForums;
    }

    private void nothing()
    {
        
    }

}