<div class="all">
@page "/AllForums/{Id:int}"

@using Contracts
@using Entities.Model
@inject NavigationManager nvgMgr
@inject IForumService forumService


<AuthorizeView>
    <NotAuthorized>
        <p> Please go to login</p>

    </NotAuthorized>
    <Authorized >
        <div class="">
            <button class="addForumbtn btn-lg float-end btn-grad" style=" margin-right: 10px" onclick="@NavigateToAddSubForum">Create new forum</button>
        </div>

        <br/>
        <br/>
        <br/>
        @foreach (var item in allForums)
        {

            <div class="card">

                <div class="field">
                    <span > Title : </span>
                    <label>@item.Title</label>
                </div>

                <div class="userName">
                    <span > Added by : </span>
                    <label>@item.Username</label>
                </div>

                <div class="field">
                    <label>@item.Description</label>
                </div>

            </div>

        }



    </Authorized>


</AuthorizeView>



@code {
    [Parameter]
    public int Id { get; set; }
    
    

    private ICollection<Forum>? allForums = new List<Forum>();
   
    private string errorLabel = "";


  

    protected override async Task OnInitializedAsync()
    {
        List<Forum> gettingMainForum = await forumService.GetSubForumByMainForumId(Id);

        allForums = gettingMainForum;
    }


    public void NavigateToAddSubForum()
    {
        nvgMgr.NavigateTo($"/AddForum/{Id}");
    }

}
</div>